 .logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  @media (max-height: 750px) {
    .logo {
      display: none;
    }
  }


  .logo_left {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  @media (max-width: 960px) {
    .logo_left {
      display: none;
    }
  }

  .logo_right {
    position: fixed;
    top: 50%;
    right: 20;
    transform: translateY(-50%);
  }

  @media (max-width: 960px) {
    .logo_right {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  .play {
    cursor: pointer;
    width: 300px; 
    height: 200px;
    z-index: 1;
  }
  


    
  
  