body {
  background-color: #c7f0fb;
  /* background: url(UI/new.jpg); 
  background-repeat:no-repeat; 
  background-position: top; 
  overflow: hidden;
  background-size: cover;
  background-size: 100% 12200%; */
}
body::before {
  content: "";
  width: 230px;
  height: 200px; 
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 150px;
  background-image: url(UI/logo.png);
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  body::before {
  content: ""; 
  justify-content: center;
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 200px;
  background-image: url(UI/logo.png);
}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

