body {
  /* background-color: #ffffff; */
  background: url(UI/new.jpg);
  background-repeat:no-repeat; 
  background-position: top; 
  overflow: hidden;
  background-size: cover;
  background-size: 100% 1000%;
}
body::before {
  content: "";
  position: absolute;
  background-position: center; 
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 200px;
  background-image: url(UI/logo.png);
  background-repeat: no-repeat;
  background-size:cover;
  /* opacity: 0.9;  */
}
@media (max-width: 1300px) {
  body::before {
  content: "";
  position: absolute;
  background-position: center; 
  top: 15%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 200px;
  background-image: url(UI/logo.png);
  background-repeat: no-repeat;
  background-size:cover;
  /* opacity: 0.9;  */
}
}


@media (max-width: 700px) {
  body { 
  position: relative;
  background: url(UI/mobile.jpg);
  background-repeat:repeat; 
  background-position: top; 
  overflow: hidden;
  background-size: cover;
  background-size: 100% 100%;
  }

  body::before {
  content: "";
  position: absolute;
  background-position: center; 
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 150px;
  background-image: url(UI/logo.png);
  background-repeat: no-repeat;
  background-size:cover;
}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

